body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.nofooter {
	height: 100%;
	overflow:auto;
}
._both {
	overflow: auto;
	box-sizing: border-box;
	display: flex;
	margin: auto;
	align-items: center;
	border-bottom: 2px solid rgba(0,0,0, .1);
}

._1 {
	z-index: 0;
	width: 70%;
	border-right: 2px solid rgba(0, 0, 0, .1);
	height: 86vh;
}


._11 {
	margin-top: 40px;
	padding-inline-start: 40px;
}

._1titleinfo {

}
._1ti{
	text-align: center;
}

._1tiilsim {
	height: 96px;
	width: 96px;
	position: absolute;
}

._1tiiaotxt {
	width: 800px;
	margin: 0 auto;
}

._1tiittx {
	line-height: 1.2;
	text-align: center;
	display: block;
	overflow-y: visible;
	font-family: "Instagram Sans Regular";
	font-weight: 400;
	font-size: 3rem;
}
._1tiittx span {
	background: -webkit-linear-gradient(#ff5a00, #ff2fa0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: 405;
}

._1tiil {
	border-end-end-radius: 0;
	border-start-start-radius: 0;
	margin-top: -100px;
}

._1tiilim {
	min-height: 290px;
	height: calc(100vh - 370px);
	min-width: 580px;
	width: calc(100vw - 780px);
	text-align: center;
	object-fit: contain;
}


._2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	z-index: 1;
	flex: 1;
}
._22 {
	width: 25vh;
	max-width: 550px;
	min-width: 500px;
	text-align: center;
	margin: 0 auto;
}


._2lalp {
	margin-left: 27px;
	font-weight: 600;
	float: left;
}

.imagel {
	height: 13px;
}
._2lacafb {
	border-style: none;
	background-color: white;
}

.but {
	display: block;
	width: 90%;
	box-sizing: border-box;

	border-radius: 14px;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: white;

	padding: 15px;
	margin: -5px auto;
	font-size: 14px;

	display: flex;
	justify-content: center;
	align-items: center;
}

._2lacaf {
	border-color: blue;
}

._2lacafb {
	color: blue;
}

.subb {
	border-radius: 20px;
	height: 25px;
	margin: 9px auto;
	z-index: 2;
	cursor: pointer;
	position: relative;
	line-height: 5px;
}
._2lalfls {
	color: white;
	background-color: #0064E0;
	opacity: 0.4;
}

._2lalfpfb {
	border-style: none;
	margin-top: 10px;
	margin-bottom: 20px;
}

.metalogl {
	height: 80px;
	z-index: 3;
}


.footer{
  border-top: 1px solid var(--border);
  padding: 12px 16px;
  font-family: sans-serif;
}

.footer-nav{
  display:flex;
  flex-wrap:wrap;
  gap: 10px 14px;
  justify-content:center;
  font-size: 11px;
  color:#8e8e8e;
}

.footer-nav a{
  color:#8e8e8e;
  text-decoration:none;
}

.footer-nav a:hover{
  text-decoration:underline;
}

.footer-bottom{
  margin-top: 10px;
  display:flex;
  gap: 14px;
  justify-content:center;
  font-size: 11px;
  color:#8e8e8e;
}

.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip: rect(0,0,0,0);
  white-space:nowrap;
  border:0;
}

label {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
  padding-right: 10px;
}

select {
  font-size: 11px;
  padding: 0;
  border-style: none;
  background-color: white;
  color: #8e8e8e;
}


@media only screen and (max-width: 650px) {
	._11 {
		display: none;
	}
	._2 {
		width:100%;
	}
}
